body {
  background-color: #f5f5f5;
}

#result-container, #restart-quiz, .question-container, #question-form {
  display: none;
}

.container {
  max-width: auto;
  margin: 0 auto;
}

#result {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#question-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}